html body {
    margin: 0;
    padding: 0;
    background-color: #FFEB85;
}

header {
    background-color:#85C2FF;
}

header a {
    color:#3d4676;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

h1 {
    background-color:#ecd66a;
    color:#8A7300;
    font-family:'Trebuchet MS', sans-serif;
}

footer {
    background-color: #85C2FF;
    color: #3d4676;
}

.base {
    margin: auto;
    width: 600px;
}